html {
    height: 100vh;
}
body {
    height: 100vh;
    background-color: rgb(63, 85, 182);
    background-size: contain;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}  
h1 {
    color: aliceblue;
    font-size: 3.5em;
}
button {
    font-size: 3em;
    padding: 20px 15px;
    border-radius: 10px;
    margin-right: 20px;
}
.treinoa, .treinob {
    display: flex;
    flex-direction: column;
}

.video {
    align-self: center;
}
.main {
    background-color: white;
    width: 70vw;
    font-size: 3em;
    border-radius: 25px;
    margin-top: 20px;
    padding: 5px 50px;
}

.hidden {
    display: none;
}
.progress {
    font-size: 0.8em;
    color: white;
    font-weight: bold;
}
.notdone {
    background-color: tomato;
}
.done {
    background-color: rgb(60, 158, 60);
    
}

@media (max-width: 640px) {
    h1 {
        font-size: 1.5em;
    }
    button, .progress {
        font-size: 1em;
    }
    .main {
        font-size: 1.2em;
        width: 65vw;
    }

}

@media (min-width: 641px) and (max-width: 1007px) {
    h1 {
        font-size: 3em;
    }
    button {
        font-size: 1.8em;
    }
    .main {
        font-size: 1.9em;
        width: 65vw;
    }
}

@media (min-width: 1008px) {
    
}
